.survey {
  overflow: hidden;
  background-color: $light-grey;
  border-radius: 4px;
  width: 100%;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 2;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  @include media-breakpoint-up(sm) {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  @include media-breakpoint-up(xs) {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  
}