<div class="strip strip-grey">
  <div class="container xpt-6 xpb-6 pt-md-4 pb-md-2">
    <div class="row">
      <div>
        <h1 id="company-details">Company details</h1>

        <p>Salina Health Ltd is registered in England &amp; Wales:</p>

        <table>
          <tbody>
            <tr>
              <td>Registered address</td>
              <td>
                Elsley Court, 20-22 Great Titchfield Street, London, W1W 8BE, UK
              </td>
            </tr>
            <tr>
              <td>Company number</td>
              <td>13584833</td>
            </tr>
            <tr>
              <td>VAT number</td>
              <td>GB401318940</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
